.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.c9
.chpwd-recent-dirs
.npm/
.nvm/
.ssh/
.viminfo
.zcompdump
.zhsrc
.zlogin
.zsh/
.zprofile
.zsh_history
.zshenv
environment/
.cache/
.codeintel/
.lesshst
.circleci
.goenv
.config
.yarnrc
